/* text font */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";
@media (min-width: 992px) {
    #nav-button, #nav-icon{
        visibility: hidden;
        position: absolute;
    }
    .signup-image{
        width: 50vw;
        height: 100%;
        background-color: black;
    }
    .sign-up-forms{
        width: 50vw;
    }
 }

@media (max-width: 992px){
    .wrapper{
        background-size: 992px !important;
    }
    .navbar{
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}
@media (max-width: 590px) { 
    .title{
        font-size: 1.5em !important;
    }
    #sidebar{
        position: absolute;
        z-index: 2;
    }
    #sidebarCollapse{
        position:absolute;
        z-index: 2;
    }
    #sidebarCollapse.move-right{
        transform: translate(200px,0);
        transition: all 0.3s;
    }
 }

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 800px;
    overflow-x: hidden;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a, a:hover, a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.2s;
}
.navbar.padding{
    padding: 6px 30px;
}
.navbar{
    padding: 40px 30px;
    margin: 0;
    color: white;
    border: none;
    border-radius: 0;
    width: 100%;
    transition: all 0.25s;
}
.navbar.move-navbar-right{
    transform: translate(200px,0);
    width: calc(100% - 200px);
    transition: all 0.38s;
}
.navbar.display-none{
    display: none;
}
.navbar-scroll{
    background: rgba(107,97,144, 0.8);
}

.navbar a{
    color: white !important;
}
.title{
    font-size: 1.6em;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    letter-spacing: 0.1em;
    width: 20vw;
}
.nav-item{
    font-size: 1em;
    text-align: center;
}

/*spacing around nav elements i.e links and search bar */
#navbarSupportedContent{
    padding: 0px;
}
.navbar-nav{
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

#search-box{
    display:flex;
    justify-content: flex-end;
}

#search-bar{
    padding: 0;
    margin: 0;
    height: 30px;
    width: 0px;
    border: 0;
    transition: width ease 0.3s;
}

#search-bar.show{
    padding: 10px;
    border: 1px;
    height: 30px;
    width: 150px;
    transition: width ease 0.3s;
}
#search-icon{
    font-size: 20px;
    border-radius: 5px;
}
#search-icon.hover{
    background: white;
    color:  #271b53;
}
/* Right arrow icon on search toggle */
#search-icon.fa-arrow-left{
    transform: rotate(180deg);
    transition: ease 0.2s;
    padding-bottom: 2px;
}
#search-btn{
    height: 33px;
    width: 33px;
}
#search-btn:hover{
    background: white;
}
#search-btn.border{
    box-shadow: 1px 1px 0 0 white, 
    0 0px 0 1px white;
}

#nav-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

#nav-button, #search-btn{
    padding: 0;
    margin: 0;
}

#nav-icon, #search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    color: white;
}

#nav-icon:hover{
    background: white;
    color:  #271b53;
    }

#nav-icon.fa fa-arrow-down{
    transform: rotate(180deg);
    transition: all 0.3s;
    
}

#nav-icon.fa-bars{
    transform: rotate(180deg);
    font-size: 28px;
}

#nav-icon.turn-arrow-up{
    transform: rotate(-180deg);
    transition: all 0.3s;
}
/* this is to control the drop animation of navbar */
.collapsing{
    transition: height .2s ease;
}

#sidebarCollapse{
    border-radius: 0px 50px 50px 0px;
    background: rgba(107,97,144, 0.8);
    color: white;
    border: none;
    margin: 0;
    height:40px;
    width: 40px;
    transition: all 0.3s;
}

.sidebarButton{
    position: sticky;
    top: 50vh;
    z-index: 2;
}

#sidebarCollapse:hover{
    background:white;
    color: #271b53;
    
}

.icon-default{
    position: relative;
    right: 10%;
    top: 1px;
    transition: all 0.5s;
}

.icon-default.active{
    position: relative;
    right: 35%;
    top: -1px;
    opacity: 1;
    border: none;
    transform: rotate(180deg);
    transition: all 0.5s;
}

.sidebar-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position:sticky;
    top:0;
}
#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    height: 100vh;
    background: rgba(107,97,144, 0.8);
    color: white;
    transition: all 0.3s;
    z-index: 2;
}
#sidebar.active{
    margin-left: -200px;
}
.sidebar-header{
    align-self: center;
    padding: 20px;
}

#sidebar ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dark-background.active{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(20, 20, 20, 0.8);
    z-index: 1;
}

.components li>a {
    height: 100%;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.components li>a:hover{
    color: black;
    background: #fff;
}

.sidebar-dropdown ul li:hover{
    color: black;
    background: #fff;
}

#homepage-background{
    display: flex;
    height: 100%;
    width: 100%; 
    align-items: stretch;
    background-color: rgb(9, 3, 34);
    background-image: url("eureka_1.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center top;

}

.text{
    color: white;
    
}

#content{
    text-align: justify;
    padding: 0 50px;
    margin:0;
}

#content p{
    color: white;
}

#top-spacing{
    height: 24vw;
}
.login-container{
    color: white;
    text-align: left;
    padding-left: 3vw;
}

.login-container h2{
    width: 30vw;
    font-size: 3em;
    font-family: 'Bitter', serif;
    font-weight: 700;
}

.login-container p{
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.login-container button{
    display: flex;
    align-items: center;
}

.login-container button>span{
    padding-left: 10px;
    font-size: 1.3em;
}

#form-spacing{
    height: 100%;
}

#student-signup-form{
    padding: 0 10vw;
    width: 100%;
}

#teacher-signup-form{
    padding: 0 10vw;
    width: 100%;
}
.signup-btns{
    width: 350px;
}
.signup-btns button{
    margin: 1% 1% 10% 1%;
    padding: 10px;
}
.form-nav-btns button{
    margin: 1%;
}
