@media (min-width: 576px) { 
    footer>.footer{
        height: 25vh;
    }
 }

@media (max-width: 575px) { 
    footer>.footer{
        height: 85vh;
    }
 }

footer>.footer{
    margin: 0;
    padding: 0;
}
.footer>.col-12{
    height: 5vh;
    padding: 0;
    margin: 0;
}

footer{
    padding-top: 5vh!important;
    flex-direction: column;
    padding:0;
    margin: 0;
}