/* text font */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";
@media (min-width: 992px) {

    .login-container h2{
        font-size: 3em;
    }
    .course-item{
        height: 70vh;
    }
 }

@media (max-width: 991px){
   
    .login-container h2{
        font-size: 2.5em;
    }
    .course-item{
        height: 60vh;
    }
}
@media (max-width: 575px) { 
    .login-container h2{
        font-size: 2em;
    }
    .course-item{
        height: 33vh;
    }
 }

#page-background{
    display: flex;
    height: 100%;
    width: 100%; 
    align-items: stretch;
    background-color: rgb(9, 3, 34);
    background-image: url("images/eureka_1.jpg");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center top;
}

.text{
    color: white;
    
}

#content{
    text-align: justify;
    padding: 0 10vw;
    margin:0;
}

#content p{
    color: white;
}

#top-spacing{
    height: 24vw;
}
.login-container{
    color: white;
    text-align: left;
    padding-left: 3vw;
}

.login-container h2{
    width: 30vw;
    font-family: 'Bitter', serif;
    font-weight: 700;
}

.login-container p{
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.login-container button{
    display: flex;
    align-items: center;
}

.login-container button>span{
    padding-left: 10px;
    font-size: 1.3em;
}

.carousel-indicators{
    z-index: 1;
    
}

.course-item{
    z-index: 0 !important;
}

.footer{
    color: white;
}

