@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";
@media (min-width: 992px) {
    #signup-forms{
        width: 50%;
    }
    .signup-options>button{
      width: 70%;
      font-size: 0.8rem;
    }

 }

@media (max-width: 992px){
    #signup-forms{
        width: 80%;
    }
    .signup-options>button{
      width: 80%;
      font-size: 0.7rem;
    }

}
@media (max-width: 590px) { 
    #signup-forms{
        width: 95%;
    }
    .signup-options>button{
      width: 95%;
    }
 }
/* width */
#signup-forms::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
#signup-forms::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(39, 27, 83, 0);
    border-radius: 10px;
  }
   
  /* Handle */
#signup-forms::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
  }

#fixed-container-forms{
    margin:0;
    padding: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 4;
    top: 0; bottom:0; left: 0; right: 0;
    padding-top: 13vh;
    padding-bottom: 13vh;
}
#fixed-container-forms.hidden{
    display: none;
    transition: all 0.3s;
}
#signup-dark-background.active{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(20, 20, 20, 0.8);
    z-index: 4;
}
  
#signup-forms{
    z-index: 999; 
    padding: 4vw;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

#student-signup-form{
    padding: 3vw;
    width: 100%;
    margin: 0;
}

#student-signup-form input{
    font-size: 0.9em;
}
#teacher-signup-form input{
    font-size: 0.9em;
}
#teacher-signup-form{
    padding: 3vw;
    width: 100%;
    margin:0;
    
}
.signup-btns{
    width: 100%;
}
.signup-btns button{
    margin: 0;
    padding: 10px;
}

#student-signup-btn{
    border-radius: 100px;
    outline: none;
    border: none;
    margin-right: 1%;
    border: white 1px solid;
}

#student-signup-btn:hover{
    background-color:white;
    color:rgba(39, 27, 83, 0.9);

}
#student-signup-btn:after{
    background-color:white;
    color: rgba(39, 27, 83, 0.9);
    outline-color:rgba(2,104,237,0.9);
}
#student-signup-btn:focus{
    background-color:white;
    color:rgba(39, 27, 83, 0.9);
    outline-color:rgba(2,104,237,0.9);
}

#teacher-signup-btn{
    border-radius: 100px;
    outline: none;
    border: none;
    margin-left: 1%;
    
    border:white 1px solid;
}
#teacher-signup-btn:hover{
    color: black;
    background-color: white;
}
#teacher-signup-btn:after{
    background-color:white;
    color: black;
    outline-color:black;
}
#teacher-signup-btn:focus{
    color: black;
    background-color:white;
    outline-color: black;
}



.form-nav-btns button{
    margin: 1%;
}

.front-arrow:hover{
    color:rgba(39, 27, 83, 0.9);
    background-color: white;
}

.back-arrow:hover{
    color:rgba(39, 27, 83, 0.9);
    background-color: white;
}
.front-arrow{
    color: black;
}
.back-arrow{
    color: black;
}
/*controls the collapsing animation intervals*/
  .collapsing {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease-out;
  }
/* these are the button colors and the background form colors*/
  .teacher-default{
    background-color: black;
    color: white;
  }
  .teacher-css{
    background-color:black;
    color: white;
  }
  .teacher-btn-css{
    background-color: white;
    color:black
  }
  .student-default{
    background-color:rgba(39, 27, 83, 0.9);
    color: white; 
  }
  .student-css{
    background-color:rgba(39, 27, 83, 0.9);
    color: white; 
  }
  .student-btn-css{
    background-color: white;
    color:rgba(39, 27, 83, 0.9)
  }
  .signup-options{
    padding-top: 2vw;
    padding-bottom: 2vw;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  .signup-options>button{
    align-items: center;
    margin: 1vw;
    padding-top: 0;
    padding-right: 4%;
    padding-left: 4%;
    border-radius: 5px;
    height: 42px;
    border: thin solid #888;
  }
  .customBtn:hover{
     background: rgb(197, 197, 197);
  }

/*Sign up custom Google Button*/
  .customBtn{
    background-color: white;
  }
    .signup-google-icon {
      background-image: url("Google.png");
      background-size: 35px;
      background-position: center;
      background-repeat: no-repeat;
      vertical-align: middle;
      width: 42px;
      height: 41px;
      padding: 0;
      margin: 0;
    }
    .signup-google-text {
      vertical-align: middle;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      padding-left: 40px;
      padding-right: 40px;
    }
/* Sign up with facebook button */
  .fb-btn{
    background-color:#3b5998;
  }
  .fb-btn:hover{
    background-color:rgba(59, 89, 152,0.8);
  }
  .signup-facebook-icon {
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #3b5998;
  }

  .signup-facebook-text {
    color: white;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
   
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }

/* Sign up with e-mail button */
.email-btn{
  background: lightgray;
}
.email-btn:hover{
  background: 	rgba(211,211,211,0.8);
  color: black;
}
.signup-email-text {
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
