.row{
    background-color: brown;
    text-align: center;
    height: 40vh;
}

.container-fluid{
    width: 100vw;
} 

#overview{
    background-color: white;
}

footer{
    
}
footer .footer{
    height: 20vh;
}
footer .col{
    height: 5vh;
}
#copyright{
    height: 5vh;
}